:root{
    --primary-background: #091A23;
    --secondary-background: #0D1117;
    --primary-gold: #FFA500;
    --highlight-gold: #FFA500;
    --gold-light: #FFE8A3;
    --text-white: #F5F2EA;
    --button-color: #a78453;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--primary-gold);
    background: var(--primary-background);
}

.main-menu img{
    width: 130px;
    height: 130px;
    padding: 10px;
    margin-left: 30px;
}

.search-bar{
    width: 500px;
    height: 40px;
    margin-left: 15%;
}

.search-bar input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.nav{
    display: flex;
    width: 500px;
    height: auto;
}

.nav .menu-list{
    display: flex;
    margin-left: 20%;
}

.nav li{
    padding: 20px;
    text-decoration: none;
    list-style: none;
    color: var(--text-white);
    cursor: pointer;
}

.nav li svg{
    margin-right: 8px;
}

.nav li:hover{
    color: var(--primary-gold);
}

.banner-img{
    position: relative;
    width: 100%;
    height: auto;
}

.image video{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.banner-title{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.banner-title .p-title{
    font-weight: 700;
    font-size: 25px;
    color: var(--text-white);
}

.banner-title h1{
    color: var(--highlight-gold);
    font-weight: bold;
}

.banner-title .p-para{
    color: var(--text-white);
}

.banner-title .explore-btn{
    width: 250px;
    height: 50px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    background-color: var(--button-color);
    color: var(--text-white);
    cursor: pointer;
}

.banner-title .explore-btn:hover{
    background-color: var(--gold-light);
    color: var(--secondary-background);
}

.banner-title .arrow{
    font-size: 16px;
}

.slide-text{
    position: absolute;
    width: 100%;
    height: 60px;
    background: rgba(9, 26, 35, 0.9);
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--primary-gold);
    border-bottom: 1px solid var(--primary-gold);
    bottom: 0;
    left: 0;
}

.text-slide{
    display: flex;
    white-space: nowrap;
    animation: slideText 20s linear infinite;
}

.text-slide span{
    color: var(--text-white);
    font-size: 22px;
    font-weight: 600;
    padding-right: 80px;
}

@keyframes slideText{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}